{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
      <p class="muted">
        {{ partial "posts/meta.html" . }}
      </p>
      {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
      {{ end }}
      {{ if .Resources.GetMatch "header" }}
        {{ $image600 := (.Resources.GetMatch "header").Fill "600x338 q60 Center" }}
        {{ $image900 := (.Resources.GetMatch "header").Fill "900x506 q70 Center" }}
        {{ $image1200 := (.Resources.GetMatch "header").Fill "1200x675 q80 Center" }}
        {{ $image1600 := (.Resources.GetMatch "header").Fill "1600x900 q90 Center" }}
        <img
          alt=""
          class="lazyload blur-up"
          src="{{ $image600.RelPermalink }}"
          data-sizes="auto"
          data-src="{{ $image1200.RelPermalink }}"
          data-srcset="{{ $image600.RelPermalink }} 600w, {{ $image900.RelPermalink }} 900w, {{ $image1200.RelPermalink }} 1200w, {{ $image1600.RelPermalink }} 1600w"
        >
      {{ end }}
      {{ "<!-- isso -->" | safeHTML }}
        <script data-isso="{{ .Site.BaseURL }}isso/" src="{{ .Site.BaseURL }}isso/js/embed.min.js" data-isso-lang="es"></script>
      {{ "<!-- end isso -->" | safeHTML }}
    </header>
    {{ partial "toc-maybe.html" . }}
    <div itemprop="articleBody">
      {{ .Content }}

      Cualquier duda, se puede preguntar aquí o en los canales descritos en la <a href="/">página principal</a>. Saludos.
    </div>
    <footer>
      <hr>
      {{ partial "posts/byline.html" . }}
      {{ partial "posts/related-content.html" . }}
      <div align="center">Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional</a></div>
      <br/> <br/>
      {{"<!-- begin comments //-->" | safeHTML}}
      <section id="isso-thread">
      </section>
      {{"<!-- end comments //-->" | safeHTML}}
    </footer>
  </article>
{{ end }}
