{{ $num_to_show := .Site.Params.related_content_limit | default 7 }}
{{ $related := .Site.RegularPages.Related . | first $num_to_show }}
{{ with $related }}
  <aside>
    <header>Contenido Relacionado</header>
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time datetime="{{ .ReadingTime }}M">{{ .ReadingTime }} minutos</time>
      {{ end }}
    </ul>
  </aside>
{{ end }}
