<nav><p>
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">&laquo; Anterior</a> |
  {{ end }}
  {{ if eq .Paginator.TotalPages 0 }}
    <span>OMG the nostalgia! Runs so smoothly too. If only there were published content.</span>
  {{ else }}
    <span>Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
  {{ end }}
  {{ if .Paginator.HasNext }}
    | <a href="{{ .Paginator.Next.URL }}">Siguiente &raquo;</a>
  {{ end }}
</p></nav>
