{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <h2>Acerca de mi</h2>
  <div>Hola, soy drymer, bienvenide a mi blog. Se llama Bad Daemons por que
    tiene que tener un nombre. Aquí escribo sobre varios temas técnicos,
    sobretodo de emacs, python y administración de sistemas. Puedes echarle un
    ojo a la temática general mirando las <a href="/tags/">etiquetas</a> que
    suelo usar.</div>
  <br/>
  <div>Solo uso redes sociales libres, como GNU social o Pleroma, por lo que no
    me encontrarás en Facebook ni en Twitter. Hay muchos motivos para no estar
    ahí, puedes leer la página de <a href="http://stallman.org/facebook.html">
    Richard Stallman</a> si te interesa el tema.</div>
  <div>También he generado y/o contribuido algunos recursos y servicios que
    pueden ser de utilidad.</div>
  <br/>
  <h2>Servicios</h2>
  <div>
    <ul>
      <li>
        <a href="http://planet.emacs-es.org/">Planet de emacs-es</a>: en
        conjunto con <a href="http://www.maxxcan.com/">Maxxcan</a>
      </li>
      <li>
	      <a href="https://git.daemons.it/">Repositorio Git
          abierto</a>
      </li>
      <li>
	      Servidor XMPP abierto. No hay interfaz http para registrarse, pero se
        puede crear una cuenta desde un cliente XMPP y se puede usar sin más. La
        lista de XEPS interesantes es:
        <ul>
          <li>Smacks</li>
          <li>CSI</li>
          <li>MAM: Se guarda registro durante una semana</li>
          <li>Carbons</li>
          <li>HTTP Upload: Los ficheros se guardan durante una semana</li>
          <li>Blocking</li>
          <li>Salas: En salas.daemons.it</li>
        </ul>
    </ul>
    <div>Si alguien quiere más información sobre lo que hace cada XEP, recomiendo la
    lectura de
    <a href="https://daemons.it/posts/xmpp-en-moviles-mentiras-y-como-mejorar-tu-servidor/">
      este articulo</a> o que me pregunte.</div>
  </div>
  <br>
  <h2>Recursos</h2>
  <ul>
    <li>
	    <a href="/pages/mi-configuracion-de-emacs/">Mi configuración de emacs</a>
	  </li>
	  <li>
	    <a href="/LFS201/curso-completo.html">Curso LFS201 completo</a> y
	    <a href="/LFS201/apuntes.html">mis apuntes</a>
	  </li>
	  <li>
	    <a href="https://karp.id.au/social/es/">Manual No Oficial de GNU Social</a>
  </ul>
</div>
<h2>Log</h2>
<div>Si te interesa ver que articulos leo, puedes echarle un ojo a la sección de
  <a href="/log/">Log</a>.</div>
<br>
<h2>Donaciones</h2>
<div>Si algo de lo que hago te resulta útil, valora donar lo que consideres. Una
  lista de sitios interesantes a los que donar es:
  <ul>
    <li>
      <a href="https://my.fsf.org/join">FSF</a>
    </li>
    <li>
      <a href="https://donate.torproject.org/pdr">Tor Project</a>
    </li>
    <li>
      <a href="https://www.debian.org/donations">Debian</a>
    </li>
    <li>
      <a href="https://www.autistici.org/donate">Autistici</a>
    </li>
    <li>
      <a href="https://orgmode.org/">Org-mode</a>
    </li>
    <li>
      <a href="https://creativecommons.org/donate">Creative Commons</a>
    </li>
    <li>
      Por último, y menos relevante, me puedes donar algo a mi. El ID de mi
      cartera de FairCoin es <b>fYH8LcKKCUJyWntHshiMxihpEx4jKcwQXK</b>.
    </li>
  </ul>
</div>
<div>
  <h2>Contacto</h2>
  <ul>
	  <li>
	    <b>Pleroma</b>: <a href="https://pl.daemons.it/users/1">drymer@pl.daemons.it</a>
	  </li>
	  <li>
	    <b>XMPP</b>: drymer [ EN ] daemons.it
	  </li>
	  <li>
	    <b>E-mail</b>: drymer [ EN ] autistici.org
	  </li>
	  <li>
	    <b>GPG</b>: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&amp;search=0xA307D64D5DDFDAAD">0xa307d64d5ddfdaad</a>
	  </li>
    </ul>
</div>
{{ end }}
{{ define "footer" }}
{{ end }}
